.DS_Store
.AppleDouble
.LSOverride

.idea/
.vscode/

.env
venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd
*.cache
.ipynb_checkpoints

build/
dist/
*.egg-info/
*.egg
wheels/

*.pt
*.pth
*.bin

node_modules/
/build
/dist

npm-debug.log*
yarn-error.log
yarn-debug.log

.env
.env.*
!.env.template
!.env.example

*.pem
*.key